<script setup lang="ts">
import { ref } from 'vue'
import Home from './pages/home'
const count = ref(0)
</script>

<template>
  <div>
    <div :class="$style.test">{{ count }}</div>
    <Home></Home>
  </div>
</template>

<style lang="scss" module>
.test {
  display: inline-block;
  color: $injectedColor;
  font-size: 20px;
  background-color: $pColor;
}
.btn {
  padding: 0 20px;
  font-size: 18px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
